* {
    box-sizing: border-box;
}

.header {
    grid-area: hd;
}
.footer {
    grid-area: ft;
}
.content {
    grid-area: main;
}
.sidebar {
    grid-area: sd;
}

.wrapper {
    border-radius: 5px;
    margin: 0 auto;
}

.wrapper > div {
    border-radius: 5px;
    padding: 1em;
    color: #d9480f;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "hd hd  hd  hd  hd  hd  hd  hd hd"
    "sd sd sd main main main main main main"
    "ft ft  ft  ft   ft   ft   ft   ft   ft";
}